body {
    font-family: 'Montserrat', sans-serif;
    color: green;
    background-color: pink;
    }

.top-section {
    background: url("../images/big-bg..png"); absolute; cover; width: 1440px; height: 774px; no-repeat;       
}
.cards-1 {
    background: url("../images/облака.png");  absolute; cover; width: 1440px; height: 1390px; no-repeat;
}
