body {
    font-family: 'Montserrat', sans-serif;
    background-color: pink;
    }

.wrapper {
    padding-right: 123px;
    padding-left: 121px;
    padding-top: 31px;
}

.top-section {
    background: url("../images/big-bg..png"); background-repeat: no-repeat;  
    color: #FFFFFF;
}

.cards-1 {
    background-image: url("../images/облака.png"); background-repeat: no-repeat;  
}

.tours {
    padding-right: 45.02px;
    padding-top: 38px;
}

.education {
    padding-right: 45.02px;
    padding-top: 38px;
}

.company {
     padding-right: 45.02px;
     padding-top: 38px;
}

.comments {
    padding-right: 45.02px;
    padding-top: 38px;
}

.galery {
    padding-right: 45.02px;
    padding-top: 38px;
}

.contacts {
    padding-right: 45.02px;
    padding-top: 38px;
}

.Phone {
    display: flex;
    flex-wrap: wrap;
    padding-top: 38px;
    font-weight: bold;
    font-size: 19px;
    max-width: 164px;
}

.top-section-title {
    color: #FFFFFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: 55px;
    padding-top: 180px;
}

.top-section-subtitle {
    width: 468px;
    color: #FFFFFF;
    font-size: 19px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    margin-top: 21px;
}

.tour-select-button {
    background-color: #0266C1;
    margin-top: 32px;
    border-color: #0266C1;   
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 39px;
    padding-left: 38px;
}


.socials-list {
    display: flex;
    justify-content: end;
    list-style: none;
    padding-bottom: 146px;
}

.vk {
    background-color: rgba(2, 102, 193, 0.4);
    margin-right: 17px;
    padding-top: 7.58px;
    padding-right: 4.3px;
    padding-bottom: 6.88px;
    padding-left: 5px;
    max-width: 12px;
    max-height: 6.85px;
}

.fb {
    background-color: rgba(2, 102, 193, 0.4);
    margin-right: 17px;
    padding-top: 5.33px;
    padding-right: 7.99px;
    padding-bottom: 5.33px;
    padding-left: 7.99px;
    max-width: 5.33px;
    max-height: 10.65px;
}

.insta {
    background-color: rgba(2, 102, 193, 0.4);
    margin-right: 17px;
    padding-top: 5px;
    padding-right: 4.3px;
    padding-bottom: 4.3px;
    padding-left: 5px;
    max-width: 13px;
    max-height: 12.08px;
}

footer {
    height: 163px;
    left: 123px;
    top: 5143px;
}

.form {
    width: 985px;
    height: 203px;
    left: 227px;
    top: 4644px;
}

.comingtours {
    font-style: normal;
    margin-top: 0px;
    padding-top: 19px;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    color: #2D383F;
}

.buttons {
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin-top: -24px;
}

.backward-button {
    margin-right: 4px;
    max-width: 37px;
    max-height: 35px;
    background-color: #0266C1;
}

.forward-button {
    margin-right: 4px;
    max-width: 37px;
    max-height: 35px;
    background-color: #0266C1;
}

.socials-list2 {
    display: flex;
    justify-content: end;
    list-style: none;
    padding-bottom: 146px;
}

.vk2 {
    color: #2D383F;
    padding-top: 10.07px;
    padding-right: 5.72px;
    padding-bottom: 9.14px;
    padding-left: 6.64px;
    border: 1px solid #2D383F;
    box-sizing: border-box;
    margin-right: 17px;
    max-width: 28.3px;
    max-height: 28.3px;
}

.fb2 {
    color: #2D383F;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    border: 1px solid #2D383F;
    box-sizing: border-box;
    margin-right: 17px;
    max-width: 28.3px;
    max-height: 28.3px;
}

.insta2 {
    color:  black;
    padding-top: 6px;
    padding-right: 4.93px;
    padding-bottom: 6.26px;
    padding-left: 6.1px;
    border: 1px solid #2D383F;
    box-sizing: border-box;
    margin-right: 17px;
    max-width: 28.3px;
    max-height: 28.3px;
}

.tour-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ing {
    background: url("../images/elbrus.png"); background-repeat: no-repeat; 
    max-width: 384.17px;
    max-height: 412px;
    padding-top: 50px;
    padding-right: 20.74px;
}
.location-time-ing {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 206px;
    padding-left: 21px;
}

.location {
    display: flex;
    padding-right: 28.38px;
    width: 114.56px;
    height: 29px;
    left: 142px;
    top: 1145px;
    background: #0266C1;
    }

    .caucasus {
    padding-top: 6px;
    padding-right: 26.17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    }

.days {
    padding-left: 28.38px;
}

.titleing {
    padding-top: 28px;
    padding-right: 122.46px;
    padding-bottom: 105px;
    margin-left: 19.75px;
    max-width: 241.96px;
    max-height: 49px;
    left: 140.75px;
    top: 1197px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.mount {
    background: url("../images/mount.jpeg"); background-repeat: no-repeat; 
    max-width: 384.17px;
    max-height: 412px;
}

.title-mount {
    padding-top: 258px;
    padding-right: 122.46px;
    padding-bottom: 105px;
    margin-left: 19.75px;
    max-width: 241.96px;
    max-height: 49px;
    left: 140.75px;
    top: 1197px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.fisht {
    background: url("../images/fisht.png"); background-repeat: no-repeat; 
    max-width: 384.17px;
    max-height: 412px;
    padding-left: 20.91px;
}

.title-fisht {
    max-width: 241.96px;
    max-height: 49px;
    left: 140.75px;
    top: 1197px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}